<div class="home-bg">
  <!-- placeholder for video? -->
</div>

<!-- Spacer - need to delete -->
<div class="row">
  <div class="small-12 columns">
    <p><br><br><br></p>
  </div>
</div>

<!-- Page header -->
<div class="row">
  <div class="small-12 text-center columns">
    <h2>Reset your password</h2>
  </div>
</div>

<div class="row">
  <div class="small-10 medium-6 large-6 small-centered columns">
    <%= form_tag password_resets_path, :method => :post do %>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><i class="fi-mail"></i></span>
      </div>
      <div class="small-10 columns">
        <%= text_field_tag :email, params[:email], placeholder: 'Your email' %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-12 text-center columns">
        <%= submit_tag "Reset my password", class: 'button'  %>
      </div>
    </div>
    <% end %>
  </div>
</div>