<h1>Hello Brewmasters,</h1>

<h2>Someone decided to contact us...<br>Put down that brew and see what's up.</h2>
<h3>Form details</h3>
<hr>
<p><strong>Name:</strong> <%= @info[:name] %></p>
<p><strong>Email:</strong> <%= @info[:email] %></p>
<p><strong>Message:</strong> <%= @info[:message] %></p>
<hr>
<br>
<p>Good on you support staff!<br>Drink a craft brew!</p>