<%= image_tag "http://placehold.it/100x100", class: 'user-image' %>
<p class='project-backer-count'><%= comment.body  %></p>
<p class='project-backer-name'>Comment by: <%= comment.user.name %></p>
<hr>