<div id="comments">
	<% if @comments.present? %>
		<%= render @comments  %>
	<% else %>
		<h4>Be the first to comment!</h4>
	<% end %>
</div>


	<h2>New Comment</h2>

	<% if current_user && (@project.pledges.where(user_id: current_user.id).present? || (@project.user == current_user)) %>
	<%= form_for [@commentable, @comment], remote: true do |f| %>
	  <p>
	    <%= f.text_field :body, class: 'comment-body' %>
	  </p>
	  <p><%= f.submit "Submit", class: 'button tiny' %></p>
	<% end %>
	<% else %>
		<p> Back project to comment.</p>
	<% end %>