<% @user.projects.each do |project| %>
	<%#= image_tag pledge.project.image.thumb.url %>
	<div class='user-project-container'>
		<a href="<%= project_path(project) %>"><%= image_tag project.slider_images.first.slider_image.url, class: 'user-project-image' %></a>
		<figcaption class='project-caption'><%= link_to project.title, project %></figcapion>
	</div>
<% end %>