<% @projects.each do |project| %>
	<div class='user-project-container'>
		<%= link_to project_path(project) do %>
			<%= image_tag project.logo.card.url, class: 'user-project-image' %>
		<% end %>
		<figcaption class='project-caption'><%= link_to project.title, project %></figcapion>
	</div>
<% end %>
