<% @user.pledges.each do |pledge| %>
	<%#= image_tag pledge.project.image.thumb.url %>
	<div class='user-project-container'>
		<a href="<%= project_path(pledge.project) %>"><%= image_tag pledge.project.slider_images.first.url, class: 'user-project-image' %></a>
		<figcaption class='project-caption'><%= link_to pledge.project.title, pledge.project %></figcapion>
	</div>
<% end %>