<div>
  <div class="slider-home">
    <div class="small-9 columns">
      <h2><%= featured_slide.title %></h2>
      <p><%= featured_slide.description %></p>
      <button class="beer-btn-primary">Discover</button>
    </div>
    <div class="small-3 text-right columns">
      <div class="slider-img">
        <img src="/img/brewpub.jpg" alt="">
      </div>
    </div>
  </div>
</div>