<div>
  <div class="slider-home">
    <div class="small-9 columns">
      <h2>Are you a beer lover?</h2>
      <p>If you love beer and want to support the craft beer movement, than this is the site for you! Not only can you help these awesome breweries grow, but you get cool swag as well!</p>
      <%= link_to 'Discover Projects', projects_path, class: 'slider-btn-green' %>
    </div>
    <div class="small-3 text-right columns">
      <div class="slider-img">
        <img src="/img/brewpub.jpg" height="300" alt="">
      </div>
    </div>
  </div>
</div>

<div>
  <div class="slider-home">
    <div class="small-9 columns">
      <h2>Are you a brewery?</h2>
      <p>We know how hard it can be to reach potential customers and raise capital. That's why we're here to help!</p>
      <%= link_to 'Create a Project', new_project_path, class: 'slider-btn-green' %>
    </div>
    <div class="small-3 text-right columns">
      <div class="slider-img">
        <img src="/img/brewpub.jpg" height="300" alt="">
      </div>
    </div>
  </div>
</div>