<div>
  <div class="slider-map">
    <div class="small-12 columns text-center">
      <h2>Projects near you</h2>
    </div>
    <div data-lat="<%= @projects.first.latitude %>" data-long = "<%= @projects.first.longitude %>" id="map2"></div>
  </div>
</div>