  <div class="welcome-bg">
    <!-- placeholder for video? -->
  </div>

  <div class="row">
    <div class="small-12">
      <div class="slider">
        <%= render partial: "featured_slide" %>
        <%= render partial: "mapbox" %>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="small-11 columns small-centered">
    <%= render partial: "featured", collection: @most_funded %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div class="row">
          <div class="small-7 columns">
            <h4>Get your brewery funded today!</h4>
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="small-3 columns">
            <br>
            <button href="#" class="radius btn-red right">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>




