
<div class="fade"><img src="/img/fade2.png"></div>
  <div class="welcome-bg">
    <!-- placeholder for video? -->
  </div>


  <div class="row">
    <div class="small-12">
      <div class="slider">
        <%= render partial: "featured_slide" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-11 columns small-centered">
      <%= render partial: "featured" %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div class="row">
          <div class="small-7 columns">
            <h4>Got a question for us?</h4>
            <p>We love questions, click contact us to drop us a note.</p>
          </div>
          <div class="small-3 columns">
            <br>
            <button href="#" data-reveal-id="contact" class="btn-green right">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>




