  <div class="welcome-bg">
    <!-- placeholder for video? -->
  </div>

  <div class="row">
    <div class="small-12">
      <div class="slider">
        <%= render partial: "featured_slide", collection: @most_funded %>
        <%= render partial: "mapbox" %>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="small-11 columns small-centered">
    <%= render partial: "featured", collection: @most_funded %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div class="row">
          <div class="small-7 columns">
            <h4>Get your brewery funded today!</h4>
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="small-3 columns">
            <br>
            <a href="#" class="radius button secondary right">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $(document).ready(function() {

    // Rollover logo
    $('.logo').mouseover(function() {
      $(this).addClass('animated tada');
    });

    // Rollout logo
    $('.logo').mouseleave(function() {
      $(this).removeClass('animated tada');
    });

    // Rollover featured
    $('.featured').mouseover(function() {
      $(this).addClass('animated infinite pulse');
    });

    // Rollout featured
    $('.featured').mouseleave(function() {
      $(this).removeClass('animated pulse');
    });

    // takes a collection of .progress-bar divs and animates them
    function progressDraw($element) {
      for(x = 0; x < $element.length; ++x) {
        _self = $element[x];
        amount = $(_self).data('funded');
        progressWidth = amount * $element.width() / 100;
        $(_self).find('div').animate({ width: progressWidth }, 1250);
      };
    };

  });
  </script>



