<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @update.title %></h1>
    <p><%= raw(@update.body) %></p>
    <p><%= link_to 'Check it out', project_update_url(@project, @update) %></p>
  </body>
</html>