<% if @pledges.count == 0 %>
 	<h3>No backers for this project yet</h3>
<% else %>
	<% @pledges.each do |pledge| %>
		<div class='project-backer-info'>
			<%= image_tag "http://placehold.it/100x100", class: 'user-image' %>
			<p class='project-backer-name'><%= link_to pledge.user.name, pledge.user %></p>
			<p class='project-backer-count'>Backed <%= pluralize(pledge.user.pledges.count, 'other project') %></p>
		</div>
	<% end %>
<% end %>
