<div class='project-link-container'>
	<ul class='project-info-link'>
		<li class='project-info-link-item'><%= link_to 'home', @project %></li>
		<li class='project-info-link-item'><%= link_to "updates", project_updates_path(@project) %></li>
		<li class='project-info-link-item'><%= link_to "backers", project_backers_path(@project) %></li>
		<li class='project-info-link-item'><%= link_to "comments", project_comments_path(@project) %></li>
	</ul>
</div>