<div class="small-6 medium-3 large-3 hnav hnav-on columns">
  <span class='project-info-link-item'><%= link_to "home", @project, class: 'button expand' %></span>
</div>
<div class="small-6 medium-3 large-3 hnav columns">
  <span class='project-info-link-item'><%= link_to " updates (#{@project.updates.count})", project_updates_path(@project), class: 'button expand' %></span>
</div>
<div class="small-6 medium-3 large-3 hnav columns">
  <span class='project-info-link-item'><%= link_to "backers (#{@project.pledges.count})", project_backers_path(@project), class: 'button expand' %></span>
</div>
<div class="small-6 medium-3 large-3 hnav columns">
  <span class='project-info-link-item'><%= link_to "comments (#{@project.comments.count})", project_comments_path(@project), class: 'button expand' %></span>
</div>