<div>
	<%= f.number_field :amount, placeholder: 'Reward amount' %>
</div>
<div>
	<%= f.text_area :description, placeholder: 'Reward Description' %>
</div>
<div>
	<%= f.text_area :pledges_left, placeholder: 'Max number of backers' %>
</div>
<%= link_to_remove_association 'remove reward', f %>
