<% if @project.video_link %>

	<iframe width="700" height="400" src="<%= @project.video_link %>" frameborder="0" allowfullscreen></iframe>

<% end %>

<hr>
<p><%= raw(@project.description) %></p>
<hr>

<div class="slider-project">
  <%= render 'slider' %>
</div>
