<% if @project.video_link %>
	<iframe width="700" height="400" src="<%= @project.video_link %>" frameborder="0" allowfullscreen></iframe>
<% end %>
			
<div class="slider">
  <%= render 'slider' %>
</div>

<hr>
<p><%= raw(@project.description) %></p>
