<div class="nested-fields">
	<div class="small-12">
    <%= f.file_field :slider_image %>
  </div>
  <div class="small-12 columns">
  	<%= link_to_remove_association 'remove image', f, class: 'remove-link-top right' %>
  </div>
</div>