<li><%= link_to 'Staff Picks', project_category_path('Staff Picks'), class: 'ordered' %></li>
<li><%= link_to 'Most Funded', project_category_path('Most Funded'), class: 'ordered' %></li>
<li><%= link_to 'Recently Launched', project_category_path('Recently Launched'), class: 'ordered' %></li>
<li><%= link_to 'Ending Soon', project_category_path('Ending Soon'), class: 'ordered' %></li>