<li><%= link_to 'Staff Picks', project_category_path('#'), class: 'ordered' %></li>
<li><%= link_to 'Most Funded', project_category_path('most_funded'), class: 'ordered' %></li>
<li><%= link_to 'Recently Launched', project_category_path('newest'), class: 'ordered' %></li>
<li><%= link_to 'Ending Soon', project_category_path('#'), class: 'ordered' %></li>