<%= render 'projects/project_links' %>

<div class='large-9 columns'>
	<% @pledges.each do |pledge| %>
		<%= render partial: 'backer', collection: @pledges %>
		<% end %>
</div>
<div class='large-3 columns'>
	<%= render 'project_sidebar' %>
</div>
<div style="clear:both;">&nbsp;</div>