<div class="row">
			<div class="small-12 columns">
				<h5><strong>Past Projects</strong></h5>
				<hr>
			</div>
			<div class='category-container'>
				<%= render partial: 'project', collection: @projects %>
			</div>
		</div>
	</div>