<%= render 'projects/project_links' %>

<h1><%= @project.title %></h1>
<h2>Updates</h2>
<% @updates.each do |update| %>
	<h3><%= link_to @update.title, @update %></h3>
	<p><%= raw(update.body) %></p>
<% end %>