// base styles

// global overides here
$body-font-family: 'Lato', sans-serif;
// $body-font-family: 'Open Sans', sans-serif;
// $body-font-family: 'Gentium Book Basic', serif;
$side-nav-link-color: #AAA;
$primary-color: #333;
$secondary-color: #3d7423;
$side-nav-link-color-active: #3d7423;
$side-nav-link-color-hover: #3d7423;

// $header-font-family: Verdana;
$side-nav-link-color: #999;

h2 {
  color: #333 !important;
  font-family: 'Oswald' !important;
  font-weight: bold !important;
  margin-bottom: 20px !important; }

h5 {
  color: #333 !important;
  font-family: 'Roboto' !important;
  letter-spacing: 0.001em; }

// foundation for some core elements
@import "foundation/components/grid";
@import "foundation/components/type";
@import "foundation/components/reveal";
@import "foundation/components/visibility";
@import "foundation/components/alert-boxes";

// Main logo
.logo {
  position: fixed;
  top: 0;
  left: 10;
  z-index: 999;
  padding: 5px 0 0 10px; }

// mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }

main {
  @include twelve-columns;
  margin: 0;
  padding: 0;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// mapbox
#map, #map2 {
  width: 100%;
  height: 260px; }

// error message
.error_messages {
  color: red !important;
  h2 { 
    font-family: 'Lato';
    font-size: 1.5rem;
    color: red !important;
    margin-bottom: 5px !important; }
}

// alert box
.alert-box.success {
  background-color: #43ac6a;
  opacity: 0.9 !important;
}

.alert-box.alert {
  background-color: #f04124;
  opacity: 0.9 !important;
}

// red border for testing
.test-red {
  border: 1px solid red; }