// button styling

@import "bourbon";

.button {
  @include button (simple, #3d7423);
  @include transition (all 0.3s ease-in-out);
  font-family: 'Lato';
  font-size: 0.8em; }

.slider-btn-green {
  @include button (simple, #3d7423);
  @include transition (all 0.2s ease-in-out);
  font-family: 'Lato';
  font-size: 1.1em;
  font-weight: bold;
  padding: 15px;
  -moz-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  &:hover{
    color: white;
    -moz-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important;
    -webkit-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important; }
}

.btn-red {
  @include button (simple, #d10000);
  @include transition (all 0.2s ease-out);
  font-family: 'Lato';
  font-size: 0.9rem;
  font-weight: bold;
  padding: 10px;
  -moz-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  &:hover{
    color: white;
    -moz-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important;
    -webkit-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important; }
}

.btn-green {
  @include button (simple, #3d7423);
  @include transition (all 0.2s ease-out);
  font-family: 'Lato';
  font-size: 0.9rem;
  font-weight: bold;
  padding: 10px;
  -moz-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  &:hover{
    color: white;
    -moz-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important;
    -webkit-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important; }
}

.btn-light-green-sm:before {
  content: "+";
  font-size: 0.7rem;
  margin: 0 7px 0 0;
  padding-top: 15px;
  line-height: 5px;
}

.btn-light-green-sm {
  @include button (simple, #56943a);
  @include transition (all 0.2s ease-out);
  font-family: 'Lato';
  font-size: 0.6em;
  font-weight: bold;
  padding: 4px 10px 6px 6px;
  &:hover{
    @include transition (all 0.2s ease-out);
    color: white;
    -moz-box-shadow: 0 0px 12px rgba(0,0,0,0.2) !important;
    -webkit-box-shadow: 0 0px 12px rgba(0,0,0,0.2) !important; }
}

.btn-social-sm {
  @include button (simple, #EEE);
  @include transition (all 0.2s ease-out);
  color: #666;
  font-family: 'Lato';
  font-size: 0.8rem;
  line-height: 20px;
  padding: 0 10px;
  i {
    position: relative;
    top: 2px;
    margin-right: 5px;
    font-size: 1.2rem;
  }
  &:hover {
    color: #555;
  }
}

.btn-light-green-nav {
  @include button (simple, #33601d);
  @include transition (all 0.2s ease-out);
  top: 0px !important;
  font-weight: bold;
  border: 0px;
  a {
    color: #FFF !important;
    font-size: 0.8em;
    font-family: 'Lato'; }
  &:hover{
    @include transition (all 0.2s ease-out);
    color: white;
    -moz-box-shadow: 0 0px 12px rgba(0,0,0,0.2) !important;
    -webkit-box-shadow: 0 0px 12px rgba(0,0,0,0.2) !important; }
}

.btn-gold {
  @include button (simple, #ffd800);
  font-family: 'Lato';
  font-size: 1em;
  font-weight: bold;
  padding: 15px; }