// button styling

@import "bourbon";

.button {
  @include button (simple, #3d7423);
  @include transition (all 0.3s ease-in-out);
  font-family: 'Lato';
  font-size: 0.8em;
}

// nicer buttons
.slider-btn-green {
  @include button (simple, #3d7423);
  @include transition (all 0.2s ease-in-out);
  font-family: 'Lato';
  font-size: 1.1em;
  font-weight: bold;
  padding: 15px;
  -moz-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  &:hover{
    color: white;
    -moz-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important;
    -webkit-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important;
  }
}

.btn-red {
  @include button (simple, #d10000);
  @include transition (all 0.2s ease-out);
  font-family: 'Lato';
  font-size: 0.9rem;
  font-weight: bold;
  padding: 10px;
  -moz-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  &:hover{
    color: white;
    -moz-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important;
    -webkit-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important;
  }
}

.btn-green {
  @include button (simple, #3d7423);
  @include transition (all 0.2s ease-out);
  font-family: 'Lato';
  font-size: 0.9rem;
  font-weight: bold;
  padding: 10px;
  -moz-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 0px 8px rgba(255,255,255,0.4);
  &:hover{
    color: white;
    -moz-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important;
    -webkit-box-shadow: 0 0px 12px rgba(255,255,255,0.6) !important;
  }
}

.btn-gold {
  @include button (simple, #ffd800);
  font-family: 'Lato';
  font-size: 1em;
  font-weight: bold;
  padding: 15px;
}