// form styling

@import "foundation/components/forms";

// icon modal
.prefix i {
  font-size: 20px;
  line-height: 35px;
  color: #999; }

input[type="file"] {
  background-color: white;
  color: #333;
  padding: 0.5rem;
  border: 1px solid #CCC; }