// project page modules

// slider
.slider-project {
  border-radius: 8px; }

// center button-group
.hnav {
  transition: all 0.2s;
  padding: 0 1px !important; }

.hnav a {
  margin-bottom: 0 !important;
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold; }

.hnav a:hover {
  margin-bottom: 0 !important;
  background-color: #f2f2f2;
  color: #333; }

.hnav:hover {
  border-bottom: 2px solid rgb(65, 117, 5);
  margin-bottom: -2px;
  margin-top: -2px; }

.hnav-on {
  border-bottom: 2px solid rgb(65, 117, 5);
  margin-bottom: -2px;
  margin-top: -2px; }

.project-category-location {
	color: #828587; }

.preview-description {
	height: 100px; }

.project-preview {
	position: fixed; }

.remove-link {
  font-size: 0.7rem;
  text-decoration: underline;
  color: #333; }

.remove-link-top {
  font-size: 0.7rem;
  text-decoration: underline;
  margin-top: -40px;
  margin-right: 5px;
  margin-bottom: 10px;
  color: #333; }

.stat-panel {
  border: 1px solid #DDD;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  font-family: 'Lato';
  p {
    padding: 0;
    margin-bottom: 0;
  }
  p > span {
    font-size: 2.7em;
    font-family: 'Oswald';
    line-height: 1em;
    }
  }

.owner-link {
  padding: 5px;
  border: 1px solid #CCC;
  background-color: #EEE;
  margin: 25px 0 10px 0;
  border-radius: 8px;
}

.owner-panel {
  border: 1px solid #DDD;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  font-family: 'Lato';
  margin-bottom: 20px;
  p {
    padding: 0;
    margin-bottom: 0;
  }
  p > span {
    font-size: 2.7em;
    font-family: 'Oswald';
    line-height: 1em;
    }
  }

.reward-panel {
  border: 1px solid #DDD;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  font-family: 'Lato';
  p {
    padding: 0;
    margin-bottom: 0;
  }
  p > span {
    font-size: 2.7em;
    font-family: 'Oswald';
    line-height: 1em;
    }
  }



.index-main-header {
	padding-bottom: 50px; }

.project-card {
	width: 230px;
	height: 500px;
	background-color: white;
	float: right;
	margin: 20px;
	border-radius: 8px;
	border: 1px solid #bdc3c7;
	padding: 5px;
	position: relative; }

.project-search-container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px; }

.beer-image {
	border-radius: 5px;
	height: 175px;
	width: 220px; }

.project-title-index {
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 0.9rem;
	line-height: 15px;
	margin-top: 5px; }

.location-search {
	display: none;
}

.location-input {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.change-location {
	font-size: 0.9rem;

	&:hover {
		text-decoration: underline;
	}
}

.project-creator-index {
	color: #828587;
	font-size: 0.8rem;
	margin-bottom: 10px;
}

.project-description-index {
	color: #828587;
	font-size: 0.8rem;
}

.info-index {
	color: #828587;
	font-size: 0.8rem;
	display: inline;
}

.info-container {
	width: 33%;
	float: left;
}

.metric {
	color: black;
	font-weight: black;
	font-size: 0.9rem;
}

.stats {
	width: 100%;
	height: 50px;
	bottom: 0;
	position: absolute;
}

.category-title {
	margin-left: 75px;
	margin-top: 40px;
	font-weight: bold;
}

.sorting-header {
	font-weight: bold;
}

.category-list {
	list-style: none;
}

.catgeory-container {
	position: absolute;
}

.search-results {
	margin-left: 75px;
	margin-top: 20px;
}

.category-show {
	font-weight: bold;
}

//project info links

.project-info-link-item {
	font-weight: bold;
}

.nav-list {
	list-style: none;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

.project-info-link {
	margin-bottom: 0px;
}

//project show page

.project-show-title {
	font-weight: bold;
}

.project-show-container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 1px solid #bdc3c7;
	padding:10px;
	border-radius: 10px;
}

.project-title-container {
	width:70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.project-link-container {
	text-align: center;
}

.info-container-show {
	width: 100%;
	font-weight: bold;
	margin-top: 30px;
}

.stat-number {
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 5px;
}

.stat-text {
	font-weight: bold;
	line-height: 20px;
}

.main-image {
	padding-bottom: 20px;
}

.see-all {
	float:right;
  &:hover{
    text-decoration: underline;
  }
}

//project backers page

.project-backer-name {
	font-weight: bold;
	font-size: 1rem;
	padding-top: 20px;
}

.project-backer-info {
	border-bottom: 1px solid #828587;
	height: 120px;
}

.project-backer-count {
	color: #828587;
	font-size: 0.9rem;
	margin-bottom: 0px;
}

.user-image {
	float: left;
	margin: 10px;
}

//project category page

.category-title {
	margin-left: 0;
}

@import "bourbon";

.reward-container {
	padding: 0;
	height: 12rem;
  border-radius: 8px;
  @include position(relative, 0 0 0 0);
  background: #fafafa;
  .reward-expired {
    background: rgba(0,0,0, 0.5);
    border-radius: 8px;
    z-index: 999;
    @include position(absolute, 0px 0px 0px 0px);
    h4 {
      margin: 80px 0;
      color: white;
      text-align: center;
      opacity: 0.8; }
    }
  &:hover {
    .reward-selector {
      border-radius: 8px;
      background: rgba(65,117,5, 0.7);
      h4 {
        @include transform(rotateX(5deg) scale(1.15));
        opacity: 1;
      }
    }
  }
}

.reward-selector {
  @include transition(background 300ms ease);
  @include position(absolute, 0px 0px 0px 0px);
  @include size(100% 100%);
  z-index: 1;
  background: transparent;
  border-radius: 8px;
  h4 {
    @include position(absolute, 80px 0px 0px 0px);
    @include transition(opacity 200ms ease, transform 400ms ease);
    @include transform(rotateX(180deg) scale(0.5));
  	text-align: center;
  	font-size: 1.2rem;
    opacity: 0;
    line-height: 12rem;
    margin: 0;
  	color: #fff;
  	z-index: -10;
  }
}

.reward-description {
  overflow: hidden;
  padding: 15px;
  h1 {
    margin-top: -35px;
    font-size: 1.5rem;
    color: #999; }
  h2 {
    font-size: 1.2rem;
    color: #999 !important;
    margin-top: 5px; }
  p {
    font-size: 0.8rem; }
  .tweet-backers {
    color: #999; }
  .twitter {
    font-size: 20em;
    margin: -75px 0;
    height: 250px;
    padding: 10px 0 0 45px;
    -ms-transform: rotate(-25deg); /* IE 9 */
    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
    color: #E5E5E5;
  }
  .tag-green {
    color: white;
    strong {
      font-size: 1.1rem; }
    background-color: #669f4b;
    padding: 3px 0 7px 0;
    position: relative;
    text-align: center;
    font-size: 0.9rem;
    width: 90%;
    top: -15px;
    right: -45%;
    -moz-box-shadow: 0 3px 1px rgba(0,0,0,0.1) !important;
    -webkit-box-shadow: 0 3px 1px rgba(0,0,0,0.1) !important;
    -ms-transform: rotate(25deg); /* IE 9 */
    -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
    transform: rotate(25deg);
  }
  .tag-gold {
    color: #333;
    strong {
      font-size: 1.1rem; }
    background-color: #EBEA56;
    padding: 3px 0 7px 0;
    position: relative;
    text-align: center;
    font-size: 0.9rem;
    width: 90%;
    top: -15px;
    right: -45%;
    -moz-box-shadow: 0 3px 9px rgba(0,0,0,0.1) !important;
    -webkit-box-shadow: 0 3px 1px rgba(0,0,0,0.1) !important;
    -ms-transform: rotate(25deg); /* IE 9 */
    -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
    transform: rotate(25deg);
  }
}

.helpers {
  opacity: 0;
  color: #3d7423; }

.creater-commenter {
	background-color: #3d7423;
	padding: 5px;
	color: white;
	border-radius: 10px; }

.save {
  p {
    font-size: 0.8rem;
    color: #666;
    margin: -15px 0 10px 0;
  }
}
