// anythinng to do with text

// overwrite the headers
h2 {
  color: #333 !important;
  font-family: 'Merriweather', cursive;
  font-weight: bold;
  margin-bottom: 20px !important; }

h3 {
  font-family: 'Merriweather';
  font-weight: bold; }

h5 {
  color: #333 !important;
  font-family: 'Merriweather' !important;
  letter-spacing: 0.001em; }

footer p {
  font-size: 0.8rem !important; }

