// welcome controller specific

.welcome-bg {
  position: fixed;
  top: 0;
  height: 784px;
  width: 100%;
  z-index: -999;
  background-image: url(/img/bg-welcome.jpg);
  background-position: top center;
  background-repeat: no-repeat; }

.home-bg {
  position: fixed;
  top: 0;
  height: 784px;
  width: 100%;
  z-index: -999;
  background-image: url(/img/bg-home.jpg);
  background-position: top center;
  background-repeat: repeat-x; }

// slider styles
.slider {
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.15);
  border-radius: 8px;
  -moz-box-shadow: 0 0px 25px rgba(25,25,25,0.3);
  -webkit-box-shadow: 0 0px 25px rgba(255,255,255,0.3);
  margin-top: 50px;
  height: 330px; }

.slider h2 {
  font-family: 'Merriweather', cursive !important;
  font-weight: bold;
  color: white !important;
  font-size: 2rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3); }

.slider-home {
  width: 100%;
  padding: 30px 70px; }

.slider-map { }

.slider-project {
  background-color: rgba(28,60,2,0.0);
  border: 1px solid rgba(255,255,255,0.4);
  -moz-box-shadow: 0 0px 25px rgba(25,25,25,0.3);
  -webkit-box-shadow: 0 0px 25px rgba(255,255,255,0.3);
  margin-top: 0;
  min-height: 300px; }

.slider-home p {
  color: white; }

.slider-img {
  padding: 5px; }


.project-panel-home {
  background-color: transparent;
  border-radius: 8px;
  transition: all 0.2s;
  &:hover {
    -moz-box-shadow: 0 0px 20px rgba(0,0,0,0.2) !important;
    -webkit-box-shadow: 0 0px 20px rgba(0,0,0,0.2) !important; }

  .panel-img {
    text-align: center;
    margin-bottom: 10px;
    background-color: #FFF;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #CCC;
    -moz-box-shadow: 0 0px 10px rgba(0,0,0,0.4) !important;
    -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.4) !important;
    small { color: #999; }
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 0.8rem; }

  h1 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px; }

  img {
    width: 195px;
    height: 195px;
    // border-radius: 50%;
  }

  @include panel(
    $padding: 10px
  );
}
