// welcome controller specific

// homepage fade
// .home-bg {
//   position: fixed;
//   top: 0;
//   height: 550px;
//   width: 100%;
//   background: -webkit-linear-gradient(rgba(241,193,65,0.7) 25%, rgba(255,255,255,0) 100%);
//   background: -o-linear-gradient(rgba(241,193,65,0.7) 25%, rgba(255,255,255,0) 100%);
//   background: linear-gradient(rgba(241,193,65,0.7) 25%, rgba(255,255,255,0) 100%);
//   z-index: -999;
// }

.welcome-bg {
  position: fixed;
  top: 0;
  height: 784px;
  width: 100%;
  z-index: -999;
  background-image: url(/img/bg03.jpg);
  background-repeat: no-repeat; }

.home-bg {
  position: fixed;
  top: 0;
  height: 784px;
  width: 100%;
  z-index: -999;
  // background-image: url(/img/bg03.jpg);
  background-image: url(/img/bg04.jpg);
  background-repeat: no-repeat; }

// slider styles
.slider {
  // background-color: rgba(28,60,2,0.0);
  // background-color: rgba(28,59,2,0.8);
  border: 1px solid rgba(255,255,255,0.4);
  -moz-box-shadow: 0 0px 25px rgba(25,25,25,0.7);
  -webkit-box-shadow: 0 0px 25px rgba(255,255,255,0.3);
  margin-top: 50px;
  height: 330px; }

.slider h2 {
  font-family: 'Merriweather', cursive;
  color: white !important;
  font-size: 2rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3); }

.slider-home {
  width: 100%;
  padding: 30px 70px; }

.slider-map { }

.slider-project {
  background-color: rgba(28,60,2,0.0);
  // background-color: rgba(28,59,2,0.8);
  border: 1px solid rgba(255,255,255,0.4);
  -moz-box-shadow: 0 0px 25px rgba(25,25,25,0.7);
  -webkit-box-shadow: 0 0px 25px rgba(255,255,255,0.3);
  margin-top: 0;
  min-height: 300px; }

.slider-home p {
  color: white; }

.slider-img {
  padding: 5px;
  border-radius: 5px;
  background-color: white; }
