// import the CSS framework
// @import "foundation";
@import "foundation/components/grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/panels";
@import "foundation/components/reveal";
@import "foundation/components/top-bar";
@import "foundation/components/alert-boxes";
@import "foundation/components/inline-lists";

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

a {
  color:black;
}

a:hover {
  color:black
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  margin: 0;
  padding: 0;
  background-color: #f7fafa;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

body {
  background-color: #f7fafa;
}

.beer-btn {
  @include button-base;
  @include single-transition;
  $dark: #401E01;
  $gold: #D97904;
  $light: #F29F05;

  &.dark {
    @include button-style($dark, 5px, false);
    color: white;
  }
  &.gold {
    @include button-style($gold, 5px, false);
    color: white;
  }
  &.light {
    @include button-style($light, 5px, false);
    color: white;
  }
}

.redder {
  border: 1px solid red;
}


