// import the CSS framework
// @import "foundation";
// @import "foundation/components/buttons";

.bg-white {
  background-color: #FFF !important; }

.percent {
  background-image: url('/img/beer.svg');
  fill: #FFF;
  background-size: 100%;
  width: 60px;
  height: 60px;
  padding: 32px 0 0 12px;
  color: #FFF;
  font-size: 0.8rem;
  position: relative;
  top: -40px; }

// Fixing some foundation stuff
ul {
  margin-left: 0 !important; }


