// import the CSS framework
// @import "foundation";
// @import "foundation/components/buttons";

.bg-white {
  background-color: #FFF; }

.percent {
  background-image: url('/img/beer.svg');
  fill: #FFF;
  background-size: 100%;
  width: 60px;
  height: 60px;
  // float: left;
  // border-radius: 50%;
  padding: 32px 0 0 12px;
  color: #FFF;
  font-size: 0.8rem;
  position: relative;
  top: -40px; }

// center button-group
.hnav {
  transition: all 0.2s;
  padding: 0 1px !important; }

.hnav a {
  margin-bottom: 0 !important;
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold; }

.hnav a:hover {
  margin-bottom: 0 !important;
  background-color: #f2f2f2;
  color: #333; }

.hnav:hover {
  border-bottom: 2px solid rgb(65, 117, 5);
  margin-bottom: -2px;
  margin-top: -2px; }

.hnav-on {
  border-bottom: 2px solid rgb(65, 117, 5);
  margin-bottom: -2px;
  margin-top: -2px; }

// Fixing some foundation stuff
ul {
  margin-left: 0 !important; }


