//project index page

.index-main-header {
	padding-bottom: 50px;
}

.project-card {
	width: 230px;
	height: 450px;
	background-color: white;
	float: right;
	margin: 20px;
	border-radius: 8px;
	border: 1px solid #bdc3c7;
	padding: 5px;
	position: relative;
}

.project-search-container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.beer-image {
	border-radius: 5px;
	height: 175px;
	width: 220px;
}

.project-title-index {
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 0.9rem;
	line-height: 15px;
	margin-top: 5px;
}

.project-creator-index {
	color: #828587;
	font-size: 0.8rem;
	margin-bottom: 10px;
}

.project-description-index {
	color: #828587;
	font-size: 0.8rem;
}

.info-index {
	color: #828587;
	font-size: 0.8rem;
	display: inline;
}

.info-container {
	width: 33%;
	float: left;
}

.metric {
	color: black;
	font-weight: black;
	font-size: 0.9rem;
}

.stats {
	width: 100%;
	height: 50px;
	bottom: 0;
	position: absolute;
}

.category-title {
	margin-left: 75px;
	margin-top: 40px;
	font-weight: bold;
}

.sorting-header {
	font-weight: bold;
}

.category-list {
	list-style: none;
}

.catgeory-container {
	position: absolute;
}

.search-results {
	margin-left: 75px;
	margin-top: 20px;
}

.category-show {
	font-weight: bold;
}

//project info links

.project-info-link-item {
	font-weight: bold;
}

.nav-list {
	list-style: none;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

.project-info-link {
	margin-bottom: 0px;
}

//project show page

.project-show-title {
	font-weight: bold;
}

.project-show-container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 1px solid #bdc3c7;
	padding:10px;
	border-radius: 10px;
}

.project-title-container {
	width:70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.project-link-container {
	text-align: center;
}

.info-container {
	width: 100%;
	font-weight: bold;
	margin-top: 30px;
}

.stat-number {
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 5px;
}

.stat-text {
	font-weight: bold;
	line-height: 20px;
}

.main-image {
	padding-bottom: 20px;
}
