.project-card {
	width: 20%;
	height: 350px;
	background-color: #ecf0f1;
	float: right;
	margin: 20px;
	border-radius: 10px;
	border: 1px solid #bdc3c7;
}

.project-search-container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.beer-image {
	border-radius: 5px;
	height: 175px;
	width: 220px;
	margin-left: 3px;
	margin-top: 3px;
}

.project-title-index {
	text-decoration: none;
	color: black;
	font-weight: bold;
}