//user show page

.user-info-container {
	height: 300px;
	background-color: #f7fafa;
	border-bottom: 1px solid #d9d9de;
}

.user-project-container {
	clear:both;
}

.user-project-nav {
	list-style: none;
}
