//user show page

.saved-projects {
	right: 0;
	position: absolute;
	padding: 10px;
}

.upload-image {
	width:35%;
}

.user-info-container {
	height: 350px;
	// background-color: #f7fafa;
	border-bottom: 1px solid #d9d9de;
	padding-top: 30px;
}

.user-projects-container {
	clear:both;
}

.profile-picture {
	border-radius: 5px;
	float: right;
	height: 200px;
	width: 200px;
	overflow: hidden;
}

.user-name {
	font-size: 1.5rem;
	font-weight: bold;
}

.user-info-list {
	list-style: none;
}

.user-info {
	float:left;
	width: 400px;
}

.user-project-nav {
	list-style: none;
	padding-top: 20px;
}

.user-project-info {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.project-caption {
	font-weight: bold;
}

.user-project-image {
	padding: 10px;
}

.user-project-container {
	width: 250px;
	display: inline;
	float: left;
}

.user-project-nav-container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.user-project-nav-item {
	display: inline;
	padding: 10px;
}

.comment-container {
	background-color: #f7fafa;
}
.comment-container p {
	margin : 0;
}

.user-comment-body {
  font-size: 1.5rem;
}

.comment-project {
	font-weight: bold;
}

.quote {
	color: #828587;
	font-size: 5rem;
}