<%# Rails flash messages styled for Zurb Foundation %>
<% flash.each do |name, msg| %>
<div class="row">
  <div class="small-offset-3 medium-offset-3 small-6 medium-6 large-6" style="postion: absolute;">
  <% if msg.is_a?(String) %>
    <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
      <%= content_tag :div, msg %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
  </div>
</div>
<% end %>
